<!DOCTYPE html>
<html>
<head>
        <title>Geocoding Browser Position Using Javascript's Geolocation API</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' style="text/css" />
	<link rel='stylesheet' href='/stylesheets/geo.css' style = "text/css" />
        <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>

 
        <style type="text/css">
 
                html,
                body {
                        height: 100% ;
                        margin: 0px 0px 0px 0px ;
                        overflow: hidden ;
                        padding: 0px 0px 0px 0px ;
                        width: 100% ;
                        }
 
                #mapContainer {
                        height: 92%;
                        width: 100%;
                        }
 
        </style>
        <!--- Include jQuery and Google Map scripts. -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
 
 
        <div id="mapContainer">
                <!-- This is where Google map will go. -->
                <div>Hello </div>
        </div>
 
 
        <!---
                Now that we have defined our map container, we should be
                able to immediately load our Google Map.
        -->
        <script type="text/javascript">

                // passes in array from geolocationform
                var arr = <%- JSON.stringify(arr) %>
            
                var mapContainer = $( "#mapContainer" );
 
                // Create the new Goole map controller using our map 
                map = new google.maps.Map(
                        mapContainer[ 0 ],
                        {
                                zoom: 8,
                                center: new google.maps.LatLng(
                                        40.700683,
                                        -73.925972
                                ),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                );
 
 
                // Add a marker to the map using a given latitude and longitude 
                function addMarker( latitude, longitude, label ){
                        // Create the marker
                        var marker = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(
                                        latitude,
                                        longitude
                                ),
                                title: (label || "")
                        });
 
                        // Return the new marker reference.
                        return( marker );
                }

                // sets up pop up window 
                var infowindow = new google.maps.InfoWindow();

                var markers = new Array();

                // adds each marker to the page from the passed in array and adds an event listener for each marker
                for (i = 0; i < arr.length; i++)
                {
                    markers[i] = addMarker(arr[i].lat, arr[i].lng, arr[i].Name);
                    marker = markers[i];
                    name = markers[i].title;
                    des = arr[i].Description;
                    var content_string = '<div id="content">' + '<div id="siteNotice">'+ '</div>'+
                                        '<h4 id="firstHeading" class="firstHeading">' + name + '</h4>'+
                                            '<div id="bodyContent">'+
                                                '<p>' + des + '</p>'+
                                            '</div>'+
                                        '</div>';

                    (function(temp_marker, temp_description) {
                        google.maps.event.addListener(temp_marker, 'click', function() {
                           infowindow.setContent(temp_description);
                           infowindow.open(map,temp_marker);
                        });
                    }(marker, content_string));          
                }



                // Check to see if this browser supports geolocation.
                if (navigator.geolocation) 
                {
                        
 
                        // Sets up location marker for the map
                        var locationMarker = null;
 
                        // Gets location of user's browser
                        navigator.geolocation.getCurrentPosition(
                                function( position )
                                {


                                        // Check to see if there is already a location.
                                        if (locationMarker)
                                        {
                                                return;
                                        }
 
                                        // Log that this is the initial position.
                                        console.log( "Initial Position Found" );

                                        //update the center to current location
                                        var newCenter = new google.maps.LatLng(
                                                position.coords.latitude,
                                                position.coords.longitude
                                        );
                                        
                                        // stores lat and lng on the document to be accessed by the html
                                        document.getElementById("lat").value = position.coords.latitude;
                                        document.getElementById("lng").value = position.coords.longitude;

                                        // centers map
                                        map.panTo(newCenter) 
                                },
                                function( error )
                                {
                                        console.log( "Something went wrong: ", error );
                                },
                                {
                                        timeout: (5 * 1000),
                                        maximumAge: (1000 * 60 * 15),
                                        enableHighAccuracy: true
                                }
                        );
                } 
                else
                {
                        mapContainer.innerHTML = "Your browser does not support GeoLocation. Get a better one.";
                }
                

        </script>

	<div class="container">

            <form class = "navbar-form" action = "/addlocation" method = "POST">
                <div class = "form-group">
                  <input class = "form-control" name = "name" placeholder = "Location Name" id = "name" type = "text"/>
                  <input class = "submission-control" name = "description" placeholder = "Description" id = "description" type = "text"/>
                  <input type = "hidden" name = "lat" id = "lat" value = '' />
                  <input type = "hidden" name = "lng" id = "lng" value = '' /> 
                  <input type = "submit" class = "btn" name = "submitted" value = "Save My Location" />
                </div>
            </form>
        </div>
</body>
</html>
