<!DOCTYPE html>
<html>
<head>
        <title>Geocoding Browser Position Using Javascript's Geolocation API</title>

	<link rel='stylesheet' href='/stylesheets/geo.css' style = "text/css" />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' style="text/css" />

 
        <style type="text/css">
 
                html,
                body {
                        height: 100% ;
                        margin: 0px 0px 0px 0px ;
                        overflow: hidden ;
                        padding: 0px 0px 0px 0px ;
                        width: 100% ;
                        }
 
                #mapContainer {
                        height: 90% ;
                        width: 100% ;
                        }
 
        </style>
        <!--- Include jQuery and Google Map scripts. -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
 
 
        <div id="mapContainer">
                <!-- This is where Google map will go. -->
                <div>Hello </div>
        </div>
 
 
        <!---
                Now that we have defined our map container, we should be
                able to immediately load our Google Map.
        -->
        <script type="text/javascript">
                var arr = <%- JSON.stringify(arr) %>
            
                var mapContainer = $( "#mapContainer" );
 
                // Create the new Goole map controller using our
                // map (pass in the actual DOM object). Center it
                // above the first Geolocated IP address.
                map = new google.maps.Map(
                        mapContainer[ 0 ],
                        {
                                zoom: 8,
                                center: new google.maps.LatLng(
                                        40.700683,
                                        -73.925972
                                ),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                );
 
 
                // I add a marker to the map using the given latitude
                // and longitude location.
                function addMarker( latitude, longitude, label ){
                        // Create the marker - this will automatically place it
                        // on the existing Google map (that we pass-in).
                        var marker = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(
                                        latitude,
                                        longitude
                                ),
                                title: (label || "")
                        });

 
                        // Return the new marker reference.
                        return( marker );
                }

                var markers = new Array();

                for (i = 0; i < arr.length; i++)
                {
                    markers[i] = addMarker(arr[i].lat, arr[i].lng, arr[i].Name);
                    google.maps.event.addListener(markers[i], 'click', function() {
                        console.log(markers[i].title);
                    });
                }
                
		  
        
 
                // Check to see if this browser supports geolocation.
                if (navigator.geolocation) 
                {
                        
 
                        // This is the location marker that we will be using
                        // on the map. Let's store a reference to it here so
                        // that it can be updated in several places.
                        var locationMarker = null;
 
                        // Get the location of the user's browser using the
                        // native geolocation service. When we invoke this method
                        // only the first callback is requied. The second
                        // callback - the error handler - and the third
                        // argument - our configuration options - are optional.
                        navigator.geolocation.getCurrentPosition(
                                function( position )
                                {


                                        // Check to see if there is already a location.
                                        // There is a bug in FireFox where this gets
                                        // invoked more than once with a cahced result.
                                        if (locationMarker)
                                        {
                                                return;
                                        }
 
                                        // Log that this is the initial position.
                                        console.log( "Initial Position Found" );
 
                                        // Add a marker to the map using the position.
                                        locationMarker = addMarker(
                                                position.coords.latitude,
                                                position.coords.longitude,
                                                "Initial Position"
                                        );
                                        //update the center to current location
                                        var newCenter = new google.maps.LatLng(
                                                position.coords.latitude,
                                                position.coords.longitude
                                        );
                                        
                                        //thing.latitude = position.coords.latitude;
                                        //thing.longitude = position.coords.longitude;

                                        document.getElementById("lat").value = position.coords.latitude;
                                        document.getElementById("lng").value = position.coords.longitude;

                                        map.panTo(newCenter)
                                        //alert(geolocation.latitude);
 
                                },
                                function( error )
                                {
                                        console.log( "Something went wrong: ", error );
                                },
                                {
                                        timeout: (5 * 1000),
                                        maximumAge: (1000 * 60 * 15),
                                        enableHighAccuracy: true
                                }
                        );
                } 
                else
                {
                        mapContainer.innerHTML = "Your browser does not support GeoLocation. Get a better one.";
                }
                



        </script>

	<div class="container">
          <aside>
            <p>Leclado</p>
          </aside>

          <div class="content">
            <form action = "/addlocation" method = "POST">
                <div class = "form-group">
                  <input class = "form-control" name = "name" placeholder = "Location Name" id = "name" type = "text"/>
                </div>
                <input type = "hidden" name = "lat" id = "lat" value = '' />
                <input type = "hidden" name = "lng" id = "lng" value = '' /> 
                <div class = "form-group">
                  <input type = "submit" name = "submitted" value = "Save My Location" />
                </div>
            </form>
          </div>
        </div>
</body>
</html>
