<!DOCTYPE html>
<html>

  <head>
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' style = "text/css" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' style = "text/css" />
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type = "text/javascript"></script>
    <script src = "http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript"> 
         if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                alert(lat);
                }, function() {
            });
            }
    
    </script>
    <br> <br> <br> <br> <div class = "title">
      <p>Leclado</p>
    </div>
</head>
  <body>
    <br> <br> <br>
    <div class = "subtext">
      <p>Let's go exploring.</p>
    </div>
    <br> 
    <div class = "geolocation">
      <form method = "GET" action = "/geolocation">
         <input type = "submit" name = "submitted" class = "btn-large" value = "Button 1 (Map)" />
      </form>

      <form method = "GET" action = "/geolocation">
         <input type = "submit" name = "submitted" class = "btn-large" value = "Button 2" />
      </form>

    </div>
  </body> 
</html>

