<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' style = "text/css" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' style = "text/css" />
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type = "text/javascript"></script>
    <script src = "http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <div class = "title">
      <p>Welcome to Leclado!</p>
    </div>
    <div class = "subtext"> 
      <p> Inspired by Lewis, Clark, and Dora - our favorite explorers. </p>
    </div>
    <div class = "geolocation">
      <a href="geolocation" class="btn btn-large">Find My Location!</a>
    </div>
  </body>
</html>
