<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> --> 
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type = "text/javascript"></script>
    <script src = "http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <h2>Welcome to Leclado!</h2>
    <p> Inspired by Lewis, Clark, and Dora - our favorite explorers. </p>
    <div class = "geolocation">
      <a id = "findlocation" href = "/geolocation" style = "text-align:center">Find my location!</a>
    </div>
  </body>
</html>
