<!DOCTYPE html>
<html>
<head>
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' style="text/css" />
     <link rel='stylesheet' href='/stylesheets/style.css' style="text/css" />
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>

    <script type = "text/javascript">
       
        var arr = <%- JSON.stringify(arr) %>
 
        document.write('<table class = "table">');
        document.write('<th> Name </th>' + '<th> Description </th>')
        for (i = 0; i < arr.length; i++)
        {
            document.write('<tr>');
            var name = arr[i].Name;
            var des = arr[i].Description;
            if (name.length != 0 && des.length != 0)
            {
               document.write('<td>' + name + '</td>');
                document.write('<td>' + des + '</td>');
            }
            //$(name).appendTo("body");
            //$(des).appendTo("body");
            /*var content_string = '<div id="content">' + '<div id="siteNotice">'+ '</div>'+
                                 '<h1 id="firstHeading" class="firstHeading">' + name + '</h1>'+
                                 '<div id="bodyContent">'+'<p>' + des + '</p>'+
                                 '</div>'+'</div>'; */
            document.write('</tr>');

        }                                
        document.write('</table>');
    </script>

    <div class = "geolocation">
      <form method = "GET" action = "/geolocationform">
         <input type = "submit" name = "submitted" class = "btn-large" value = "See Where These Things Are!" />
      </form>
    </div>    


</body> 
</html>