.container {
  overflow: hidden;
}

.container .content .form-group .form-control .btn-default {
  
}

aside {
  height: 90px;
  width: 185px;
  background: #FFFFFF;
  float:left;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;

}

.content {
  height: 90px;
  background: #C7BEBE;
  margin-left: 195px;
  padding: 3px;
}