body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	margin: 0;
	background: url('/img/background.jpg') no-repeat center center fixed;
	z-index: -25;
}


.geolocation {
	text-align: center;
 	font-size: 30px;
 	font-color: ;
 	margin: 50px;
 	font-family: 'Fenix', serif;
 	opacity: 0.9;
 	z-index: 1;
}

.onsuccess {
	text-align: center;
 	font-size: 30px;
 	font-color: #FFFFFF;
 	margin: 50px;
 	font-family: 'Fenix', serif;
 	opacity: 0.9;
}

.title {
	text-align: center;
	color: #FFFFFF;
	font-size: 100px;
	margin: 50px;
	font-family: 'Fenix', serif;
	z-index: 3;
}

.subtext {
	margin: 100px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: 'Fenix', serif;
	z-index: 4;
}
