body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	margin: 0;
	background: url('/img/background.jpg') no-repeat center center fixed;
}

.geolocation {
	text-align: center;
 	color: #FFFFFF;
 	font-size: 30px;

}

h2 {
	text-align: center;
	color: #FFFFFF;
	font-size: 100px;
}

p {
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
}